/*style(main부터 서브까지 공통영역이 아닌 곳을 이곳에서 꾸며보기)*/

/*main*/
.video-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.videoEnd{
	width: 100%;
	height: 100%;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	text-align: center;
	animation: textSlide 0.5s ease-out 0.5s forwards;
	opacity: 0;
	transform: translateX(-500px);
}

@keyframes textSlide{
	form{
		opacity: 0;
		transform: translateX(-500px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.videoEnd h2{
	font-size: 6rem;
}
.videoEnd p{
	font-size: 2rem;
	line-height: 1.5;
}
.videoEnd a{
	padding: 1rem 2rem;
	background-color: var(--color-point);
	border: 2px solid var(--color-point);
	border-radius: 10px;
	font-weight: bold;
	color: var(--color-bg);
	font-size: var(--font-size);
}

.videoEnd a:hover{
	background-color: transparent;
	color: var(--color-point);
}


/*1번쨰 content*/

#content1{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-top: 5rem;
}


.tab {
	margin-bottom: 1rem;
	text-align: center;
	justify-content: center;
}

.tab button {
	background: none;
	border: none;
	padding: 12px 24px;
	font-size: 2.5rem;
	cursor: pointer;
	color: #666;
	border-bottom: 3px solid transparent;
	transition: all 0.3s ease;
	font-weight: bolder;
}

.tab button.active,
.tab button:focus {
	color: var(--color-point);
	border-bottom-color: var(--color-point);
	outline: none;
}

.tabpanel-wrapper{
	padding-top: 5rem;
}

.tabpanel {
  	display: none;
}

.tabpanel.active {
  	display: flex;
}

.product-grid{
	flex-direction: column;
	width: calc(50% - 0.5rem)
}

.card{
	padding: 20px;
	text-align: center;
	border: 1px solid #222;
	transition: 0.3s;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #fff;
	width: 100%;
	max-height: 350px;
}

.card:hover{
	transform: translateY(-4px);
	box-shadow: 0 0 10px #ffffff94;
}

.card:hover span{
	padding-left: 5px;
	transition: all 0.5s;
}

.gradientCard{
	background: linear-gradient(170deg, #14161c, #393c49);
}

.content-text{
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-size: 2rem;
	color: var(--color-text);
	
}

.content-text p{
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 1px 0px 4px var(--color-point);
  	-webkit-text-stroke: 0px var(--color-point);
}

/* 탭 a태그 안에 이미지 */
.lgG_mouse{
	background-image: url(https://resource.logitechg.com/w_420,h_1024,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/products/pro-wireless-gaming-mouse/pro-wireless-feature-7-mobile.png?v=1);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

.lgG_headset{
	background-image: url(https://resource.logitechg.com/w_695,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/products/g522-lightspeed-pdp/g522-lightspeed-synchronized-pro-g-audio-drivers-key-feature-1.jpg?v=1);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

.lgG_keyboard{
	background-image: url(https://resource.logitechg.com/w_797,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/products/pro-x-tkl-rapid/pro-x-tkl-rapid-feature-05.jpg?v=1);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

.lgG_combo{
	background-image: url(https://resource.logitech.com/w_1440,h_810,ar_16:9,c_fill,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/combos/mx-keys-s-combo-for-mac/buy/mx-key-s-combo-mac-intro-cover.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

.lgG_Accessory{
	background-image: url(https://resource.logitechg.com/w_692,c_lpad,ar_4:3,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/products/accessories/key-caps/key-caps-gallery-1-pink.png?v=1);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

.lgG_racing{
	background-image: url(https://resource.logitechg.com/w_1800,h_1800,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/products/pro-racing/pro-racing-wheel/01-banner-desktop-pro-wheel.png?v=1);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

.lg_keyboard{
	background-image: url(https://resource.logitech.com/w_544,h_466,ar_7:6,c_pad,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/keyboards/k860-ergo/gallery/ergo-k860-gallery-04.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

.lg_mouse{
	background-image: url(https://resource.logitech.com/w_544,h_466,ar_7:6,c_pad,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/mice/pop-wireless-mouse/gallery/wave-2/pop-mouse-gallery-mist-2.png);
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

.lg_headset{
	background-image: url(https://resource.logitech.com/w_544,h_466,ar_7:6,c_pad,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/video-conferencing/h151/gallery/h151-gallery-01.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

.lg_Accessory{
	background-image: url(https://resource.logitech.com/w_544,h_466,ar_7:6,c_pad,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/mice/desk-mat-studio-series/gallery/logitech-desk-mat-studio-series-corner-view-lilac.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

.lg_webcam{
	background-image: url(https://resource.logitech.com/w_544,h_466,ar_7:6,c_pad,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/webcams/brio-300/gallery/brio-300-gallery-offwhite-1.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

.lg_combo{
	background-image: url(https://resource.logitech.com/w_544,h_466,ar_7:6,c_pad,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/combos/mk470-slim-wireless-combo/gallery-images/mk470-gallery-offwhite-matt-kor-1.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

/*2번쨰 content*/

#content2{
	border:10px solid red;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-top: 5rem;
}




/* sub01 */

/* 비주얼 */
#sub01_visual{border: 0px solid red; width: 100%; /*height: 400px;*/ height: 85vh;}
#sub01_visual .swiper-container5 .swiper-slide a.v1{border: 0px solid blue; background:url(../images/sub01/s1_visual.png) no-repeat center top; background-size: cover; width: 100%; height: 100%;}
#sub01_visual .swiper-container5 .swiper-slide a.v2{border: 0px solid blue; background:url(../images/sub01/s1_visual1.png) no-repeat center top; background-size: cover; width: 100%; height: 100%;}
#sub01_visual .swiper-container5 .swiper-slide a.v3{border: 0px solid blue; background:url(../images/sub01/s1_visual2.png) no-repeat center top; background-size: cover; width: 100%; height: 100%;}
#sub01_visual .swiper-container5 .swiper-slide a.v4{border: 0px solid blue; background:url(../images/sub01/s1_visual3.png) no-repeat center top; background-size: cover; width: 100%; height: 100%;}
#sub01_visual .swiper-container5 .swiper-slide a.v5{border: 0px solid blue; background:url(../images/sub01/s1_visual4.png) no-repeat center top; background-size: cover; width: 100%; height: 100%;}
#sub01_visual .swiper-container5 .swiper-slide a.v6{border: 0px solid blue; background:url(../images/sub01/s1_visual5.png) no-repeat center top; background-size: cover; width: 100%; height: 100%;}

#sub01_visual .swiper-container5 .swiper-slide a.v1 dl{
	display: none;
}
#sub01_visual .swiper-container5 .swiper-slide a.v2 dl,
#sub01_visual .swiper-container5 .swiper-slide a.v4 dl{
	border: 0px solid red; 
	display: inline-block; 
	text-align: center; 
	margin-top: 30vh; 
	margin-left: 18%;
}
#sub01_visual .swiper-container5 .swiper-slide a.v3 dl,
#sub01_visual .swiper-container5 .swiper-slide a.v5 dl{
	display: none;
}
#sub01_visual .swiper-container5 .swiper-slide a.v6 dl{
	border: 0px solid green;
	text-align: center;
	display: block;
	margin-top: 55vh;
}
#sub01_visual .swiper-container5 .swiper-slide a dl dt{
	font-family: 'Exo-Bold';
	font-size: 72px;
	color: #fff;
}
#sub01_visual .swiper-container5 .swiper-slide a dl dd{
	border: 0px solid red;
	font-family: 'NanumGothic';
	font-size: 36px;
	color: #cdcdcd;
	padding-top: 30px;
}
/* 네비게이션 */

#sub1_nav1{
	border: 0px solid blue;
	width: 100%;
	/* height: 95px; */
	height: 9.5vh;
	/* height: 4.95vh; */
	background-color: #636363;
}
#sub1_nav1 .outer{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
#sub1_nav1 .outer .inner{
	width: 100%;
  height: 100%;
}
#sub1_nav1 .outer .inner .cd-secondary-nav {
	/* border:10px solid green; */
	position: relative;
	z-index: 1;
	clear: both;
	width: 100%;
	height: 9.5vh;
	/* Force Hardware Acceleration */
	-webkit-transform: translateZ(0);
			transform: translateZ(0);
	will-change: transform;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}
#sub1_nav1 .outer .inner .cd-secondary-nav::after {
	/* gradient on the right - to indicate it's possible to scroll */
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	height: 100%;
	width:100%;
	pointer-events: none;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}
#sub1_nav1 .outer .inner .cd-secondary-nav.nav-end::after {
	/* border: 1px solid blue; */
	opacity: 0;
}
#sub1_nav1 .outer .inner .cd-secondary-nav ul,
#sub1_nav1 .outer .inner .cd-secondary-nav li,
#sub1_nav1 .outer .inner .cd-secondary-nav a {
  	height: 100%;
}
#sub1_nav1 .outer .inner .cd-secondary-nav ul {
	/* border: 1px solid red; */
	/* enables a flex context for all its direct children */
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 3vh 0;
	height: 100%;
	display: block;
	text-align: center;
}
#sub1_nav1 .outer .inner .cd-secondary-nav ul::after {
	clear: both;
	content: "";
	display: block;
}
#sub1_nav1 .outer .inner .cd-secondary-nav li {
	/* border: 1px solid yellow; */
	display: inline-block;
	background: url(../images/sub01/nav1_line.gif) no-repeat 0 9px;
	padding: 0 3vw;
	float: none;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
}
#sub1_nav1 .outer .inner .cd-secondary-nav li:first-child{background: none;}

#sub1_nav1 .outer .inner .cd-secondary-nav a {
	display: block;
	font-family: 'notokr-regular';
	/* font-size: 24px; */
	font-size: 1.25vw;
	color:#cacaca;
	opacity: 1;
	/* border: 1px solid blue; */
}
#sub1_nav1 .outer .inner .cd-secondary-nav a:hover {
	color: #fff;
}


/* -------------------------------- 

3. Auto-Hiding Navigation - with Sub Nav + Hero Image

-------------------------------- */
#sub1_nav1 .outer .inner .cd-secondary-nav.fixed {
	position: fixed;
  	top: 0;
	background-color: #636363;
	z-index: 10;
}
#sub1_nav1 .outer .inner .cd-secondary-nav.slide-up {
  	-webkit-transform: translateY(-0px);
      	-ms-transform: translateY(-0px);
          	transform: translateY(-0px);
}

/* 1번째 컨텐츠 */

#sub1_c1{border: 0px solid red; width: 100%; height: auto; overflow: hidden;}
#sub1_c1 .outer{border: 0px solid blue; width: 83%; margin: 0 auto;}
#sub1_c1 .outer  .title{	
	/* border: 2px solid green; */
	text-align: center;
	font-family: 'Exo-Bold';
	/* font-size: 60px; */
	font-size: 3.13vw;
	color: #343434;
	/* padding: 46px 0 38px; */
	padding: 2.4vw 0 1.98vw;
}
#sub1_c1 .outer .swiper-container6 .swiper-slide dl{
	width: 100%;
	height: 100%;
}

#sub1_c1 .outer .swiper-container6 .swiper-slide dl dd:nth-child(2){
	/* border: 1px solid yellow; */
	font-family: 'Exo-Bold';
	/* font-size: 24px; */
	font-size: 1.25vw;
	color: #000000;
	/* padding-top: 72px; */
	padding-top:3vh
}
#sub1_c1 .outer .swiper-container6 .swiper-slide dl dd:nth-child(3){
	/* border: 1px solid cyan; */
	font-family: 'NanumGothicBold';
	/* font-size: 20px; */
	font-size: 1.04vw;
	color: #2f3133;
	/* padding-top: 20px; */
	padding-top: 2vh;
}
#sub1_c1 .outer .swiper-container6 .swiper-slide dl dd:nth-child(3) span{
	/* border: 10px solid red; */
	font-family: 'NanumGothic';
	/* font-size: 18px; */
	font-size: 0.94vw;
	color: #aeaeae;
	text-decoration: line-through;
	vertical-align:bottom;
	/* margin-left: 17px; */
	margin-left: 0.89vw;
}

#sub1_nav2{
	border-top: 1px solid #979797; 
	border-bottom: 1px solid #979797;
	width: 100%; 
	/* height: 62px;  */
	height: 6.2vh;
	/* margin-top: 50px; */
	margin-top: 5vh;
}
#sub1_nav2 .outer{border: 0px solid yellow; width: 87.5%; height: 100%; margin: 0 auto;}
#sub1_nav2 .outer .inner{width: 100%; height: 100%;}
#sub1_nav2 .outer .inner ul{width: 100%; height: 100%;}
#sub1_nav2 .outer .inner ul li:nth-child(1){
	border: 0px solid red;
	width: 14%;
	height: 100%;
	float: left;
	/* padding: 17px 0; */
	padding: 1.7vh 0;
}
#sub1_nav2 .outer .inner ul li:nth-child(1) a{
	font-family: 'NanumGothic';
	/* font-size: 18px; */
	font-size: 0.94vw;
	color: #a5a5a5;
	text-indent: 10px;
}
#sub1_nav2 .outer .inner ul li:nth-child(2){
	border-left: 1px solid #979797;
	border-right: 1px solid #979797;
	width: 72%;
	height: 100%;
	float: left;
	font-family: 'NanumGothic';
	/* font-size: 18px; */
	font-size: 0.94vw;
	color: #000000;
	/* padding: 17px 0; */
	padding: 2vh 0;
	text-indent: 10px;
}
#sub1_nav2 .outer .inner ul form select{
	/* border: 5px solid green;  */
	width: 14%; 
	height: 100%; 
	float: left;
	font-family: 'NanumGothic';
	/* font-size: 18px; */
	font-size: 0.94vw;
	color: #000000;
	/* padding: 15px 0; */
	padding: 1.7vh 0;
	text-indent: 10px;
}

/* 2번째 컨텐츠 */

#sub1_c2{border: 0px solid red; width: 100%; height: auto; margin-top: 80px; overflow: hidden;}
#sub1_c2 .outer{border: 0px solid blue; width: 87.5%; height: 100%; margin: 0 auto; overflow: hidden;}
#sub1_c2 .outer .inner{width: 100%; height: 100%;}

/* 2번째 왼쪽 */
#sub1_c2 .outer .inner .side{width: 14%; height: 100%; float: left;}
#sub1_c2 .outer .inner .side .side-box1{width: 100%; height: 148px;}
#sub1_c2 .outer .inner .side .side-box1 h3{
	background: url(../images/sub01/side_line.gif) no-repeat 0 0;
	font-family: 'NanumGothic';
	font-size: 20px;
	color: #000000;
	height: 33%;
	width: 100%;
	/* padding: 10px 0; */
	padding: 0.52vh 0;
}
#sub1_c2 .outer .inner .side .side-box1 ul{
	width: 100%;
	height: 67px;
}
#sub1_c2 .outer .inner .side .side-box1 ul li{
	/* margin: 5px 0; */
	margin: 0.52vh 0;
	font-family: 'NanumGothic';
	/* font-size: 14px; */
	font-size: 0.73vw;
	color: #4c4c4c;
}
#sub1_c2 .outer .inner .side .side-box1 ul li input{/*margin-right: 7px;*/ margin-right: 0.7vw;}
#sub1_c2 .outer .inner .side .side-box1 ul li:first-child{margin-top: 0;}
#sub1_c2 .outer .inner .side .side-box1 ul li:last-child{margin-bottom: 0;}

#sub1_c2 .outer .inner .side .side-box2 h3{
	background: url(../images/sub01/side_line.gif) no-repeat 0 0;
	font-family: 'NanumGothic';
	/* font-size: 20px; */
	font-size: 1.04vw;
	color: #000000;
	height: 33%;
	width: 100%;
	padding: 10px 0;
}
#sub1_c2 .outer .inner .side .side-box2 input{
	margin-bottom: 15px;
}

#sub1_c2 .outer .inner .side .side-box3{width: 100%; height: 148px;}
#sub1_c2 .outer .inner .side .side-box3 h3{
	background: url(../images/sub01/side_line.gif) no-repeat 0 0;
	font-family: 'NanumGothic';
	/* font-size: 20px; */
	font-size: 1.04vw;
	color: #000000;
	height: 33%;
	width: 100%;
	padding: 10px 0;
	
}
#sub1_c2 .outer .inner .side .side-box3 ul{
	width: 100%;
	/* height: 67px; */
	height: 3.49vh;
}
#sub1_c2 .outer .inner .side .side-box3 ul li{
	margin: 5px 0;
	font-family: 'NanumGothic';
	/* font-size: 14px; */
	font-size: 0.73vw;
	color: #4c4c4c;
}
#sub1_c2 .outer .inner .side .side-box3 ul li input{margin-right: 7px;}
#sub1_c2 .outer .inner .side .side-box3 ul li:first-child{margin-top: 0;}
#sub1_c2 .outer .inner .side .side-box3 ul li:last-child{margin-bottom: 0;}

/* 2번째 오른쪽 제품 */
#sub1_c2 .outer .inner .mouse{width: 86%; height: 100%; float: left; position: relative;}

#sub1_c2 .outer .inner .mouse dl{
	/* border: 10px solid green; */
	width: 22.5%;
	height: auto;
	float: left;
	margin-right: 3.33%;
	position: relative;
}
#sub1_c2 .outer .inner .mouse dl:nth-child(3){margin-right: 3.34%;}
#sub1_c2 .outer .inner .mouse dl:nth-child(7){margin-right: 3.34%;}
#sub1_c2 .outer .inner .mouse dl:nth-child(11){margin-right: 3.34%;}
 
#sub1_c2 .outer .inner .mouse dl:nth-child(4){margin-right: 0;}
#sub1_c2 .outer .inner .mouse dl:nth-child(8){margin-right: 0;}
#sub1_c2 .outer .inner .mouse dl:nth-child(12){margin-right: 0;}
#sub1_c2 .outer .inner .mouse dl dd{
	/* border: 10px solid red; */
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	width: 100%;
	height: 100%;
	opacity: 0;
	padding-top: 90%;
	text-align: center;
	font-family: 'NanumGothic';
	font-size: 0.94vw;
	color: #fff;
	letter-spacing: -0.05em;

}
#sub1_c2 .outer .inner .mouse dl dd:hover{
	opacity: 1;
}
#sub1_c2 .outer .inner .mouse dl img:hover{
	background-color: rgba(0, 0, 0, 0.6);
}
#sub1_c2 .outer .inner .mouse dl img{
	/* border: 10px solid blue; */
	position: relative;
}


#sub1_c2 .outer .inner .mouse dl dt:nth-child(3){ 
	/* border: 10px solid magenta; */
	font-family: 'Exo-Bold';
	/* font-size: 24px; */
	font-size: 1.25vw;
	color: #000000;
	/* padding: 30px 0 15px; */
	padding: 3vh 0 2vh;
}
#sub1_c2 .outer .inner .mouse dl dt:nth-child(4){
	/* border: 10px solid cyan; */
	font-family: 'NanumGothicBold';
	/* font-size: 18px; */
	font-size: 0.94vw;
	color: #353535;
	/* padding-bottom: 45px; */
	padding-bottom: 5.5vh;
}

/* sub02 */

/* 비주얼 */
#sub02_visual{border: 0px solid red; width: 100%; /*height: 400px;*/ height: 80vh;}

#sub02_visual .swiper-container4 .swiper-slide a.v1{border: 0px solid blue; background:url(../images/sub02/sub02_1_visual.png) no-repeat center top; background-size: cover; width: 100%; height: 100%;}

#sub02_visual .swiper-container4 .swiper-slide a.v2{border: 0px solid blue; background:url(../images/sub02/sub02_2_visual.png) no-repeat center top; background-size: cover; width: 100%; height: 100%;}

#sub02_visual .swiper-container4 .swiper-slide a.v3{border: 0px solid blue; background:url(../images/sub02/sub02_3_visual.png) no-repeat center top; background-size: cover; width: 100%; height: 100%;}

#sub02_visual .swiper-container4 .swiper-slide a.v4{border: 0px solid blue; background:url(../images/sub02/sub02_4_visual.png) no-repeat center top; background-size: cover; width: 100%; height: 100%;}

#sub02_visual .swiper-container4 .swiper-slide a.v5{border: 0px solid blue; background:url(../images/sub02/sub02_5_visual.png) no-repeat center top; background-size: cover; width: 100%; height: 100%;}

#sub02_visual .swiper-container4 .swiper-slide a.v6{border: 0px solid blue; background:url(../images/sub02/sub02_6_visual.png) no-repeat center top; background-size: cover; width: 100%; height: 100%;}

#sub02_visual .swiper-container4 .swiper-slide a.v1 dl,
#sub02_visual .swiper-container4 .swiper-slide a.v2 dl,
#sub02_visual .swiper-container4 .swiper-slide a.v3 dl{
	/* border: 2px solid yellow; */
	/* padding-top: 150px; */
	padding-top: 15vh;
	text-align: center;
}
#sub02_visual .swiper-container4 .swiper-slide a.v4 dl,
#sub02_visual .swiper-container4 .swiper-slide a.v5 dl,
#sub02_visual .swiper-container4 .swiper-slide a.v6 dl{
	/* border: 5px solid magenta; */
	/* padding-top: 400px; */
	padding-top: 40vh;
	/* padding-left: 130px; */
	padding-left: 6.77vw;
	display: inline-block;
	text-align: center;
}

#sub02_visual .swiper-container4 .swiper-slide a dl dt{
	/* border: 1px solid yellow; */
    text-align: center;
    font-family: 'Exo-Bold';
	/* font-size: 42px; */
	font-size: 2.19vw;
	color: #000000;
	letter-spacing: 0.05em;
}

#sub02_visual .swiper-container4 .swiper-slide a dl dd{
	/* border: 10px solid green; */
    font-family: 'NanumGothic';
	/* font-size: 30px; */
	font-size: 1.56vw;
	color: #434343;
	letter-spacing: 0.05em;
}


/* 네비게이션 */

#sub2_nav1{
	border: 0px solid blue;
	width: 100%;
	/* height: 95px; */
	height: auto;
	/* margin-top: 50px; */
	margin-top: 3vw;
}
#sub2_nav1 .outer{
	border-top: 1px solid #898989;
	border-bottom: 1px solid #898989;
	width: 87.5%;
	height: 100%;
	margin: 0 auto;
}
#sub2_nav1 .outer .inner{
	width: 83%;
	height: 100%;
	margin: 0 auto;
}
#sub2_nav1 .outer .inner ul.inner-tab{
	border: 0px solid yellow;
	text-align: center;
	/* padding: 30px 0; */
	padding: 3vh 0;
}
#sub2_nav1 .outer .inner ul.inner-tab li{
	border: 0px solid black;
	display: inline;
	/* padding: 0 30px; */
	padding: 0 1.56vw;
	background: url(../images/sub01/nav1_line.gif) no-repeat 0 7px;
	/* margin-right: -7px; */
	margin-right: -0.36vw;
}
#sub2_nav1 .outer .inner ul.inner-tab li a{
	font-family: 'NanumGothicBold';
	/* font-size: 24px; */
	font-size: 1.25vw;
	color:#858585;
}
#sub2_nav1 .outer .inner ul.inner-tab li:nth-child(2) a{color: #000000;}
#sub2_nav1 .outer .inner ul.inner-tab li:first-child{padding-left: 0; background: none;}
#sub2_nav1 .outer .inner ul.inner-tab li:last-child{padding-right: 0;}

/* 정렬 */
#sub02_kind{border: 0px solid red; width: 100%; height: auto;  /* margin-top: 50px;  */margin-top: 5vh;
}
#sub02_kind .outer{
	border: 0px solid blue;
	width: 87.5%;	
	height: 100%;
	margin: 0 auto;
}
#sub02_kind .outer .inner{
	border: 0px solid green;
	width: 83%;
	height: 100%;
	margin: 0 auto;
}
#sub02_kind .outer .inner form{float: right;}
#sub02_kind .outer .inner form select{
	font-family: 'NanumGothic';
	/* font-size: 18px; */
	font-size: 0.94vw;
	color: #000000;
}

/* sub02 1번쨰 컨텐츠 */
#sub02_c1{border: 0px solid red; width: 100%; height: auto; overflow: hidden; margin-bottom: 10vh;}
#sub02_c1 .outer{border: 0px solid blue; width: 87.5%; height: 100%; margin: 0 auto; overflow: hidden;}
#sub02_c1 .outer .inner{border: 0px solid green; width: 83%; height: 100%; margin: 0 auto; overflow: hidden;}
#sub02_c1 .outer .inner dl{
	/* border: 1px solid cyan; */
	width: 31.6%;
	height: auto;
	float: left;
	margin-right: 2.6%;
	/* margin-top: 50px; */
	margin-top: 5vh;
	text-align: center;
}
#sub02_c1 .outer .inner dl:nth-child(3){margin-right: 0;}
#sub02_c1 .outer .inner dl:nth-child(6){margin-right: 0;}
#sub02_c1 .outer .inner dl:nth-child(9){margin-right: 0;}
#sub02_c1 .outer .inner dl:nth-child(12){margin-right: 0;}
#sub02_c1 .outer .inner dl:nth-child(15){margin-right: 0;}
#sub02_c1 .outer .inner dl:nth-child(18){margin-right: 0;}
#sub02_c1 .outer .inner dl:nth-child(21){margin-right: 0;}
#sub02_c1 .outer .inner dl:nth-child(24){margin-right: 0;}
#sub02_c1 .outer .inner dl:nth-child(27){margin-right: 0;}


#sub02_c1 .outer .inner dl dd img:hover{
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}




#sub02_c1 .outer .inner dl dd:nth-child(2){
	/* border: 1px solid green; */
	font-family: 'Exo-ExtraBold';
	/* font-size: 24px; */
	font-size: 1.25vw;
	color: #000000;
	/* padding-top: 40px; */
	padding-top: 4vh;
}
#sub02_c1 .outer .inner dl dt:nth-child(3){
	/* border: 1px solid magenta; */
	font-family: 'NanumGothic';
	/* font-size: 12px; */
	font-size: 0.63vw;
	color: #8a8a8a;
	/* padding-top: 15px; */
	padding-top: 1.5vh;
}
#sub02_c1 .outer .inner dl dt:nth-child(4){
	font-family: 'NanumGothicBold';
	/* font-size: 18px; */
	font-size: 0.94vw;
	color: #000000;
	/* padding-top: 5px; */
	padding-top: 0.5vh;
	/* margin-bottom: 7px; */
	margin-bottom: 0.7vh;
}



/* sub03 pc */

/* sub03 비주얼 */
#sub03_visual{border: 0px solid red; width: 100%; height: auto;}
#sub03_visual .visual{
	width: 100%; 
	height: 100%; 
	text-align: center; 
	/* padding: 218px 0;  */
	padding-top: 21.8vh;
}
#sub03_visual .visual dt{
	font-family: 'NanumGothicExtraBold';
	/* font-size: 72px; */
	font-size: 3.75vw;
	color: #000;
}

/* sub03 nav */
#sub03_nav{border: 0px solid red; width: 100%; height: auto; /*margin-top: 50px;*/ margin-top: 7vh;}
#sub03_nav .outer{border: 0px solid blue; width: 87.5%; height: 100%; margin: 0 auto;}
#sub03_nav .outer .inner{border: 0px solid green; width: 83%; height: 100%; margin: 0 auto;}
#sub03_nav .outer .inner ul{margin: 0 auto; text-align: center; border-bottom: 3px solid black;}
#sub03_nav .outer .inner ul li{
	display: inline-block;
	/* padding: 20px 0; */
	padding: 2vh 2.08vw;
}
#sub03_nav .outer .inner ul li a{
	font-family: 'NanumGothicBold';
	/* font-size: 24px; */
	font-size: 1vw;
	color: #888888;
	/* border: 1px solid red; */
}
#sub03_nav .outer .inner ul li:nth-child(1) a{
	font-family: 'NanumGothicBold';
	/* font-size: 24px; */
	font-size: 1vw;
	color: #000000;
}

/* sub03 1번째 컨텐츠 */

/* 왼쪽 검색창 */
#sub03_c1{border: 0px solid red; width: 100%; height: 23.5vh; /*margin-top:100px; */margin-top: 10vh;}
#sub03_c1 .outer{border: 0px solid blue; width: 87.5%; height: 100%; margin: 0 auto;}
#sub03_c1 .outer .inner{border: 0px solid green; width: 83%; height: 100%; margin: 0 auto;}
#sub03_c1 .outer .inner .search{
	border: 2px solid #464646; 
	width: 71%; 
	/* height: 200px;  */
	height: 20vh;
	margin: 0 auto;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	float: left;
	margin-right: 2%;
	text-align: center;
}
#sub03_c1 .outer .inner .search form{margin: 7.6vh 0;}
#sub03_c1 .outer .inner .search form input#search-box{
	display:inline-block;
	border-bottom: 1px solid #959595;
	/* height: 48px; */
	height: 5.1vh;
	/* width: 750px; */
	width: 39.06vw;
	/* font-size:18px; */
	font-size: 0.94vw;
	color:#000000;
	font-family:"맑은 고딕",돋움,sans-serif;
	vertical-align:bottom;
	text-indent: 15px;
}
#sub03_c1 .outer .inner .search form .bt{vertical-align:bottom;border:0px solid blue; display: inline-block;}
#sub03_c1 .outer .inner .search form .bt_t{display: none;}

/* 오른쪽 고객센터 */
#sub03_c1 .outer .inner .center{
	background-color: #959595;
	width: 27%;
	/* height: 200px; */
	height: 20vh;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	float: left;
	/* padding: 17px 52px; */
	padding: 2vh 2.71vw;
}
#sub03_c1 .outer .inner .center dl{
	font-family: 'NanumGothicBold';
	color: #fff;
}
#sub03_c1 .outer .inner .center dl dt:nth-child(1){
	/* font-size: 30px; */
	font-size: 1.56vw;
}
#sub03_c1 .outer .inner .center dl dd:nth-child(2){
	/* font-size: 18px; */
	font-size: 0.94vw;
	/* margin-top: 6px; */
	margin-top: 0.6vh;
}
#sub03_c1 .outer .inner .center dl dd:nth-child(3){
	/* font-size: 18px; */
	font-size: 0.94vw;
	/* margin-top: 16px; */
	margin-top: 1.6vh;
	letter-spacing: -0.05em;
}
#sub03_c1 .outer .inner .center dl dt:nth-child(4){
	/* font-size: 48px; */
	font-size: 2vw;
	/* margin-top: 9px; */
	margin-top: 0.9vh;
	letter-spacing: -0.05em;
}
/* sub03 2번째 컨텐츠 */
#sub03_c2{width: 100%; height: auto; margin-top: 8vh;}
#sub03_c2 .outer{width: 87.5%; height: 100%; margin: 0 auto;}
#sub03_c2 .outer .inner{width: 83%; height: 100%; margin: 0 auto;}
#sub03_c2 .outer .inner h2.title{
	/* border: 10px solid red;  */
	text-align: center;
	font-family: 'NanumGothicBold';
	/* font-size: 48px; */
	font-size: 2vw;
	color: #000000;
}
#sub03_c2 .outer .inner .swiper-container7{
	/* border: 1px solid blue; */
	width: 100%;
	height: 100%;
	margin-top: 3vh;
}
#sub03_c2 .outer .inner .swiper-container7 .swiper-slide{
	border: 2px solid #999999;
	width: 100%;
	height: 100%;
}

#sub03_c2 .outer .inner .swiper-container7 .swiper-slide:hover{
	background-color: #ece6fa;
	border: none;
}
#sub03_c2 .outer .inner .swiper-container7 .swiper-slide a{
	/* border: 1px solid blue; */
	width: 100%;
	height: 100%;
}

#sub03_c2 .outer .inner .swiper-container7 .swiper-slide a dl{
	/* padding: 50px 10px; */
	padding: 5vh 0;
	/* border: 1px solid red; */
	text-align: center;
}

#sub03_c2 .outer .inner .swiper-container7 .swiper-slide a dl dt{
	font-family: 'notokr-regular';
	/* font-size: 20px; */
	font-size: 1.04vw;
	color: #868686;
	letter-spacing: -0.08em;
	/* padding-top: 30px; */
	padding-top: 3vh;
	
}
/* sub03 3번째 컨텐츠 */

#sub03_c3{border: 0px solid red; width: 100%; height: auto; /*margin-top: 100px;*/ margin-top: 8vh;}
#sub03_c3 .outer{border: 0px solid blue; width: 87.5%; height: 100%; margin: 0 auto;}
#sub03_c3 .outer .inner{border: 0px solid green; width: 83%; height: 100%; margin: 0 auto; position: relative;}
#sub03_c3 .outer .inner .c2_title{
	font-family: 'Exo-Bold';
	/* font-size: 48px; */
	font-size: 2.5vw;
	color: #000000;
	/* border: 1px solid blue; */
}
#sub03_c3 .outer .inner .more{float: right; position: absolute; right: 0; top:48px;}
#sub03_c3 .outer .inner .more a{
	font-family: 'NanumGothic';
	/* font-size: 24px; */
	font-size: 1.25vw;
	color: #000000;
	/* border: 1px solid red; */
	vertical-align: top;
}
#sub03_c3 .outer .inner .more img{height: 100%; /*padding-left: 25px;*/ padding-left: 1.3vw; /*padding-top: 4px;*/ padding-top: 0.4vh; vertical-align: top;}

#sub03_c3 .outer .inner .list{
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	width: 100%;
	/* height: 500px; */
	height:auto;
	/* margin-top: 35px; */
	margin-top: 3.5vh;
	
}
#sub03_c3 .outer .inner .list ul{
	border-bottom: 1px solid #b0b0b0;
	overflow: hidden; 
	width: 100%;
}

#sub03_c3 .outer .inner .list ul li:nth-child(1){
	width: 15%; 
	/* border: 1px solid red;  */
	float: left; 
	text-indent: 20px;
	font-family: 'NanumGothicBold';
	/* font-size: 24px; */
	font-size: 1vw;
	color: #686868;
	/* padding: 32px 0;  */
	padding: 3.2vh 0;
}
#sub03_c3 .outer .inner .list ul a li:nth-child(1){
	width: 80%; 
	/* border: 10px solid blue;  */
	float: left;
	font-family: 'NanumGothic';
	/* font-size: 24px; */
	font-size: 1vw;
	color: #000000;
}
#sub03_c3 .outer .inner .list ul a div{
	display: none;
}
#sub03_c3 .outer .inner .list ul a div p:nth-child(1){
	/* border: 5px solid magenta; */
	width: 15%; 
	float: left; 
	font-family: 'NanumGothicBold';
	/* font-size: 24px; */
	font-size: 1vw;
	color: #686868;
	/* padding: 40px 0; */
	padding: 4vh 0;
	border-top: 1px solid #e5e5e5;
	background-color: #f1f1f1;
	text-indent: 35px;
}
#sub03_c3 .outer .inner .list ul a div p:nth-child(2){
	width: 85%; 
	/* border: 10px solid blue;  */
	float: left;
	font-family: 'NanumGothic';
	/* font-size: 24px; */
	font-size: 1vw;
	color: #646464;
	border-top: 1px solid #e5e5e5;
	background-color: #f1f1f1;
	/* padding: 40px 0; */
	padding: 4vh 0;
	text-indent: 20px;
}
#sub03_c3 .outer .inner .list ul img{border: 0px solid green; float: left; /*padding-top: 7px ;*/  padding: 4.2vh 0;}

/* sub03 4번째 컨텐츠 */
#sub03_c4{border: 0px solid red; width: 100%; height: auto; overflow: hidden; /*margin-bottom: 200px;*/ margin-bottom: 20vh; margin-top: 8vh;}
#sub03_c4 .outer{border: 0px solid blue; width: 87.5%; height: 100%; margin: 0 auto; overflow: hidden;}
#sub03_c4 .outer .inner{border: 0px solid green; width: 83%; height: 100%; margin: 0 auto; overflow: hidden; display: table;}
#sub03_c4 .outer .inner .c3_title{
	font-family: 'Exo-Bold';
	/* font-size: 48px; */
	font-size: 2.5vw;
	color: #000000;
}
#sub03_c4 .outer .inner dl{
	/* border: 1px solid magenta; */
	text-align: center;
	width: 17.8%;
	height: auto;
	float: left;
	margin-right: 2.75%;
	/* margin-top: 55px; */
	margin-top: 5.5vh;
}
#sub03_c4 .outer .inner dl:last-child{margin-right: 0;}

#sub03_c4 .outer .inner dl dd{
	width: 180px;
	height: 180px;
	border-radius: 100%;
	background-color: #e1e1e1;
	display:inline-block;
	display:table-cell;
  	vertical-align:middle;
   	/* border:1px solid black; */
}
#sub03_c4 .outer .inner dl dd img.sub3_pc{
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
#sub03_c4 .outer .inner dl dd img.sub3_t{display: none;}
#sub03_c4 .outer .inner dl dd img.sub3_m{display: none;}

#sub03_c4 .outer .inner dl dd img:hover{
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media all and (min-width:1400px) and (max-width:1700px){
	#sub03_c4 .outer .inner dl dd{width:180px; height:180px;}
}
@media all and (min-width:1280px) and (max-width:1399px){
	#sub03_c4 .outer .inner dl dd{width:160px; height:160px;}
}
#sub03_c4 .outer .inner dl dt{
	font-family: 'NanumGothicBold';
	/* font-size: 30px; */
	font-size: 1.25vw;
	color: #000000;
	/* padding-top: 30px;	 */
	padding-top: 3vh;
}
