/*style(main부터 서브까지 공통영역이 아닌 곳을 이곳에서 꾸며보기)*/

/*main*/
.video-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.videoEnd{
	width: 100%;
	height: 100%;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	text-align: center;
	animation: textSlide 0.5s ease-out 0.5s forwards;
	opacity: 0;
	transform: translateX(-500px);
}

@keyframes textSlide{
	form{
		opacity: 0;
		transform: translateX(-500px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.videoEnd h2{
	font-size: 6rem;
}
.videoEnd p{
	font-size: 2rem;
	line-height: 1.5;
}

/*1번쨰 content*/

#content1{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-top: 5rem;
}


.tab {
	margin-bottom: 1rem;
	text-align: center;
	justify-content: center;
}

.tab button {
	background: none;
	border: none;
	padding: 12px 24px;
	font-size: 2.5rem;
	cursor: pointer;
	color: #666;
	border-bottom: 3px solid transparent;
	transition: all 0.3s ease;
	font-weight: bolder;
}

.tab button.active,
.tab button:focus {
	color: var(--color-point);
	border-bottom-color: var(--color-point);
	outline: none;
}

.tabpanel-wrapper{
	padding-top: 5rem;
}

.tabpanel {
  	display: none;
}

.tabpanel.active {
  	display: flex;
}

.product-grid{
	flex-direction: column;
	width: calc(50% - 0.5rem)
}

.card{
	padding: 20px;
	text-align: center;
	border: 1px solid #222;
	transition: 0.3s;
	display: inline-block;
	cursor: pointer;
	width: 100%;
	max-height: 350px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 40rem;
}

.card:hover{
	transform: translateY(-4px);
	box-shadow: 0 0 10px #ffffff94;
}

.gradientCard{
	background: linear-gradient(170deg, #14161c, #393c49);
}

.content-text{
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-size: 2rem;
	color: var(--color-text);
	font-size: var(--font-size);
}

.content-text dt{
	font-size: 3rem;
}

.content-text dt,
.card:hover dl{
	text-shadow: 1px 0px 4px var(--color-point);
  	-webkit-text-stroke: 0px var(--color-point);
}

.content-text dl{
	font-size: 1.5rem;
	font-weight: bold;
}

.card:hover span{
	padding-left: 5px;
	transition: all 0.5s;
}

/* 탭 a태그 안에 이미지 */
.lgG_mouse{
	background-image: url(https://resource.logitechg.com/w_420,h_1024,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/products/pro-wireless-gaming-mouse/pro-wireless-feature-7-mobile.png?v=1);
}

.lgG_headset{
	background-image: url(https://resource.logitechg.com/w_695,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/products/g522-lightspeed-pdp/g522-lightspeed-synchronized-pro-g-audio-drivers-key-feature-1.jpg?v=1);
}

.lgG_keyboard{
	background-image: url(https://resource.logitechg.com/w_797,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/products/pro-x-tkl-rapid/pro-x-tkl-rapid-feature-05.jpg?v=1);
}

.lgG_combo{
	background-image: url(https://resource.logitech.com/w_1440,h_810,ar_16:9,c_fill,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/combos/mx-keys-s-combo-for-mac/buy/mx-key-s-combo-mac-intro-cover.jpg);
}

.lgG_Accessory{
	background-image: url(https://resource.logitechg.com/w_692,c_lpad,ar_4:3,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/products/accessories/key-caps/key-caps-gallery-1-pink.png?v=1);
}

.lgG_racing{
	background-image: url(https://resource.logitechg.com/w_1800,h_1800,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/products/pro-racing/pro-racing-wheel/01-banner-desktop-pro-wheel.png?v=1);
}

.lg_keyboard{
	background-image: url(https://resource.logitech.com/w_544,h_466,ar_7:6,c_pad,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/keyboards/k860-ergo/gallery/ergo-k860-gallery-04.png);
}

.lg_mouse{
	background-image: url(https://resource.logitech.com/w_544,h_466,ar_7:6,c_pad,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/mice/pop-wireless-mouse/gallery/wave-2/pop-mouse-gallery-mist-2.png);
}

.lg_headset{
	background-image: url(https://resource.logitech.com/w_544,h_466,ar_7:6,c_pad,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/video-conferencing/h151/gallery/h151-gallery-01.png);
}

.lg_Accessory{
	background-image: url(https://resource.logitech.com/w_544,h_466,ar_7:6,c_pad,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/mice/desk-mat-studio-series/gallery/logitech-desk-mat-studio-series-corner-view-lilac.png);
}

.lg_webcam{
	background-image: url(https://resource.logitech.com/w_544,h_466,ar_7:6,c_pad,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/webcams/brio-300/gallery/brio-300-gallery-offwhite-1.png);
}

.lg_combo{
	background-image: url(https://resource.logitech.com/w_544,h_466,ar_7:6,c_pad,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/logitech/en/products/combos/mk470-slim-wireless-combo/gallery-images/mk470-gallery-offwhite-matt-kor-1.png);
}

/*2번쨰 content*/

#content2{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-top: 5rem;
	
}

#content2 .outer{
	background-image: url(https://resource.logitechg.com/w_1800,h_1800,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/plp-pro/04-banner-pro-series-pro-x-superlight-desktop.png?v=1);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 90rem;
	flex-flow: column nowrap;
	justify-content: center;
}


#content3 .outer{
	background-image: url(https://resource.logitechg.com/w_1800,h_1800,c_limit,q_auto,f_auto,dpr_1.0/d_transparent.gif/content/dam/gaming/en/sim-racing-lp/sim-racing-lp-driving-confi-banner-desktop-3.jpg?v=1);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 90rem;
	flex-flow: column nowrap;
	justify-content: center;
}

	 #content2 .content-text2{
		font-size: 3rem;
		opacity: 0;
		transform: translateX(300px);
		transition: all 0.7s ease;
	}

	#content3 .content-text2{
		font-size: 3rem;
		opacity: 0;
		transform: translateX(-300px);
		transition: all 0.7s ease;
		text-align: right;
	}

	#content2 .content-text2.active {
		opacity: 1;
  		transform: translateX(0);
	}

	#content3 .content-text2.active {
		opacity: 1;
  		transform: translateX(0);
	}

	/* #content2, #content3 공통*/
	

	.content-text2.active {
		opacity: 1;
  		transform: translateX(0);
	}

	.content-text2 .dt_line{
		font-weight: bolder;
		position: relative;
		margin-bottom: 25px;
		margin-top: 25px;
		display: inline-block;
	}

	.content-text2 .dt_line::after{
		background-color: #c3c6c8;
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		left: 0; bottom: -1.5rem;
		width: 100%;
		height: 6px;
	}

	.content-text2 dd{
		font-size: 3rem;
		line-height: 1.4;
		padding: 1rem 0;
		margin-bottom: 2rem;
	}
